.flows.json.backup
[
    {
        "id": "e870d4a03089713c",
        "type": "tab",
        "label": "Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acf0bbd9e7d62571",
        "type": "http in",
        "z": "e870d4a03089713c",
        "name": "GET: Ping",
        "url": "/ping",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "c0387d08726c03c9"
            ]
        ]
    },
    {
        "id": "c0387d08726c03c9",
        "type": "function",
        "z": "e870d4a03089713c",
        "name": "Set Payload",
        "func": "var payload = {\n    \"info\": \"ack\"\n}\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "2d050186788c7dc5"
            ]
        ]
    },
    {
        "id": "2d050186788c7dc5",
        "type": "http response",
        "z": "e870d4a03089713c",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 670,
        "y": 240,
        "wires": []
    }
]